<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -- %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="JOB_FILE" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>jobName</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${jobName}" class="ch.qos.logback.core.FileAppender">
                <file>logs/${jobName}.log</file>
                <append>true</append>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level -- %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="cl.jcaceres.jobflowscheduler.util.JobLogger" level="INFO" additivity="false">
        <appender-ref ref="JOB_FILE" />
    </logger>

</configuration>
